<article class="card-item">
    <picture class="card-item__image">
        <img src="IMAGEN_URL" alt="Descripción de la imagen" />
    </picture>
    <div class="card-item__content">
        <h4 class="card-item__title">TÍTULO</h4>
        <p class="card-item__category">CATEGORIA</p>
        <p class="card-item__price">PRECIO</p>

        <div class="card-item__quantity">
            <!-- Agregar el campo para la cantidad y los botones de incremento y decremento -->
        </div>

        <p class="card-item__total">Total: $TOTAL</p>

        <button class="card-item__cancel">Cancelar compra</button>
    </div>
</article>