<footer>
    <section class="footeradmin">
        <nav class="footer__nav">
            <ul>
                <li class="footer__li"><a href="/pages/shop/shop.html">SHOP</a></li>
                <li class="footer__li">
                    <a href="/pages/register/register.html">REGISTRARSE</a>
                </li>
                <li class="footer__li"><a href="/pages/login/login.html">INGRESAR</a></li>
                <li class="footer__li"><a href="/pages/contact.html">CONTACTO</a></li>
            </ul>
            <picture class="footer__isotype">
                <img src="/img/branding/isotype.svg" alt="Isotipo de la marca Funkoshop" />
            </picture>
        </nav>
    </section>
    <p>All rights reserved 2023 - Funkoshop &copy;</p>
</footer>