<header class="header">
    <nav class="navbar">
        <picture class="navbar__logo">
            <a href="/index.html">
                <img src="/img/branding/logo_light_horizontal.svg" alt="Logo de Funkoshop" />
            </a>
        </picture>
        <ul class="navbar__menu">
            <li class="navbar__item">
                <a class="navbar__link" href="/index.html">VER TIENDA</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="/pages/admin/admin.html">ADMIN</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="/index.html">SALIR</a>
            </li>
        </ul>
    </nav>
</header>