<header class="header">
    <nav class="header__nav">
        <picture class="header__picture">
            <a href="../index.html">
                <img src="../img/branding/logo_light_horizontal.svg" alt="Logo de Funkoshop">
            </a>
        </picture>
        <ul class="header__ul">
            <li class="header__li">
                <a href="../pages/shop/shop.html">SHOP</a>
            </li>
            <li class="header__li">
                <a href="../pages/contact.html">CONTACTO</a>
            </li>
            <li class="header__li">
                <a href="../pages/login.html">LOGIN</a>
            </li>
            <li class="header__carro">
                <a href="../pages/carro/carrito.html"><img src="../img/icons/cart-icon.svg" alt="CARRITO"></a>
            </li>
        </ul>
    </nav>
</header>