<section class="news-container">
  <script defer src="/index.js"></script>
  <ul>
    <li>
      <!-- Incluyendo el componente "Card" para el artículo 1 -->
      <include src="/components/card.html">
        <with-param name="IMAGEN_URL" value="/img/star-wars/trooper-1.webp" />
        <with-param name="CATEGORÍA" value="STAR WARS" />
        <with-param name="TÍTULO" value="STORMTROOPER LIGHTSABER" />
        <with-param name="PRECIO" value="$ 1799,99.-" />
        <with-param name="PAGO" value="3 CUOTAS SIN INTERÉS" />
      </include>
    </li>
    <li>
      <!-- Incluyendo el componente "Card" para el artículo 2 -->
      <include src="/components/card.html">
        <with-param name="IMAGEN_URL" value="/img/pokemon/pidgeotto-1.webp" />
        <with-param name="CATEGORÍA" value="POKEMON" />
        <with-param name="TÍTULO" value="PIDGEOTTO" />
        <with-param name="PRECIO" value="$ 1799,99.-" />
        <with-param name="PAGO" value="3 CUOTAS SIN INTERÉS" />
      </include>
    </li>
    <li>
      <!-- Incluyendo el componente "Card" para el artículo 3 -->
      <include src="/components/card.html">
        <with-param name="IMAGEN_URL" value="/img/harry-potter/luna-1.webp" />
        <with-param name="CATEGORÍA" value="HARRY POTTER" />
        <with-param name="TÍTULO" value="LUNA LOVEGOOD LION MASK" />
        <with-param name="PRECIO" value="$ 1799,99.-" />
        <with-param name="PAGO" value="3 CUOTAS SIN INTERÉS" />
      </include>
    </li>
  </ul>
</section>