<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTER</title>
    <link rel="stylesheet" href="../../../css/style.css">
</head>

<body>
    <%- include("./partials/header-admin") %>
    <main class="mainlogin">
        <div class="login-container">
            <h2 class="mainlogin__title">CREA TU CUENTA</h2>
            <h3 class="mainlogin__subtitle">Completa el formulario para ser parte del mundo de los Funkos</h3>
            <form class="mainlogin__form">
                <div class="form-register">
                    <label for="name">Nombre:</label>
                    <input class="log-input" type="name" id="name" name="name" placeholder="John" required>
                </div>
                <div class="form-register">
                    <label for="name">Apellido:</label>
                    <input class="log-input" type="name" id="name" name="name" placeholder="Doe" required>
                </div>
                <div class="form-email">
                    <label for="email">E-mail:</label>
                    <input class="log-input" type="email" id="email" name="email" placeholder="johndoe@correo.com"
                        required>
                </div>
                <div class="form-passcreate">
                    <label for="password">Contraseña:</label>
                    <input class="log-input" type="password" id="password" name="password" placeholder="********"
                        required>
                </div>
                <div class="form-passrepeat">
                    <label for="password">Repita Contraseña:</label>
                    <input class="log-input" type="password" id="password" name="password" placeholder="********"
                        required>
                </div>
                <div class="form-ingresar">
                    <button class="btn-ingresar" type="submit">Registrarar</button>
                    <label for="remember">
                        <input class="check-remember" type="checkbox" id="remember" name="remember">
                        Acepto <span>Términos y Condiciones</span>
                    </label>
                </div>
            </form>
        </div>
    </main>
    <%- include("./partials/footer-admin") %>
</body>

</html>